<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/places.css"> <!-- Example stylesheet path -->
    <title>Places</title>
</head>
<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('../components/navBarAdmin') %>
        <!-- Content -->
        <div class="main">
            <!-- Places Table -->
            <div class="details">
                <div class="users">
                    <div class="cardHeader">
                        <h2>Places</h2>
                    </div>
                    <button class="addbtn" onclick="toggleAddPlaceForm()">Add</button>
                    <div class="add-place-form" style="display: none;">
                        <h2>Add New Place</h2>
                        <form action="/admin/add-place" method="POST">
                            <label for="placeName">Name:</label>
                            <input type="text" id="placeName" name="placeName" required><br><br>

                            <label for="description">Description:</label>
                            <textarea id="description" name="description" rows="4" required></textarea><br><br>

                            <label for="governorate">Governorate:</label>
                            <select id="governorate" name="governorate" required>
                                <option value="Cairo">Cairo</option>
                                <option value="Alexandria">Alexandria</option>
                                <option value="Giza">Giza</option>
                                <option value="Luxor">Luxor</option>
                                <option value="Aswan">Aswan</option>
                                <option value="Red Sea">Red Sea</option>
                                <option value="South Sinai">South Sinai</option>
                                <option value="Ismailia">Ismailia</option>
                                <option value="Faiyum">Faiyum</option>
                                <option value="Port Said">Port Said</option>
                            </select><br><br>

                            <label for="city">City:</label>
                            <select id="city" name="city" required>
                                <option value="Cairo">Cairo</option>
                                <option value="Alexandria">Alexandria</option>
                                <option value="Giza">Giza</option>
                                <option value="Luxor">Luxor</option>
                                <option value="Aswan">Aswan</option>
                                <option value="Red Sea">Red Sea</option>
                                <option value="South Sinai">South Sinai</option>
                                <option value="Ismailia">Ismailia</option>
                                <option value="Faiyum">Faiyum</option>
                                <option value="Port Said">Port Said</option>
                            </select><br><br>

                            <label for="typeOfPlace">Type:</label>
                            <select id="typeOfPlace" name="typeOfPlace" required>
                                <option value="Historical">Historical</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Nature">Nature</option>
                                <option value="Sea Areas">Sea Areas</option>
                                <option value="Religious Areas">Religious Areas</option>

                                <!-- Add more options as needed -->
                            </select><br><br>

                            <label for="budget">Budget:</label>
                            <select id="budget" name="budget" required>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select><br><br>

                            <button type="submit">Save Place</button>
                        </form>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Governorate</th>
                                <th>City</th>
                                <th>Type</th>
                                <th>Budget</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (placesData.length > 0) { %>
                                <% placesData.forEach(place => { %>
                                    <tr>
                                        <td><%= place.placeName %></td>
                                        <td><%= place.description %></td>
                                        <td><%= place.governorate %></td>
                                        <td><%= place.city %></td>
                                        <td><%= place.typeOfPlace %></td>
                                        <td><%= place.budget %></td>
                                        <td>
                                            <button class="btn edit-place-btn" data-id="<%= place._id %>">Edit</button>
                                            <button class="btn delete-btn" data-id="<%= place._id %>">Delete</button>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7">No places found.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Place Modal -->
<div id="place-details-container" class="modal">
    <div class="modal-content">
        <span id="close-btn3" class="close">&times;</span>
        <form id="edit-place-form">
            <label for="place-name">Place Name:</label>
            <input type="text" id="place-name" name="place-name" readonly>
            <label for="budget">Budget:</label>
            <select id="budget" name="budget" required>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>

    <!-- Example JavaScript file for functionality -->
    <script src="/js/places.js"></script>
</body>
</html>
