<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/profile.js" defer></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <header>
    <%- include('../components/navBarLoggedin') %>
  </header>
  <div class="main-container"> <!-- Main container wrapping all content -->

    <section>
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="Scriptcontent">

            <!-- Profile -->
            <div class="profilee py-4">
              <div class="container">

                <div class="row">
                  <div class="avatarHolder">
                    <div>
                      <div class="aboveAll">
                        <div id="avatar-display" class="avatar-container">
                          <button id="prev-arrow" class="arrow" disabled style="display: none;">&lt;</button>
                           <img id="finalAvatar" src="<%= user.avatar %>" alt="Avatar" class="avatar-image">
                           <img id="avatar-image" src="<%= user.avatar %>" alt="Avatar" class="avatar-image" style="display: none;"> 
                          <button id="next-arrow" class="arrow" disabled style="display: none;">&gt;</button>
                        </div>

                        <p id="userInfoUN"class="userInfoUN">
                          <%= user.username %>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                          <tr id="username">
                            <th width="30%">username</th>
                            <td><span id="username-value">
                                <%= user.username %>
                              </span>
                              <input type="text" id="username-edit" value="<%= user.username %>" style="display:none;">
                              <div id="username-error" style="color: red;"></div>
                            </td>
                          </tr>
                          <tr id="email">
                            <th width="30%">e-mail</th>
                            <td><span id="email-value">
                                <%= user.email %>
                              </span>
                              <input type="email" id="email-edit" value="<%= user.email %>" style="display:none;">
                              <div id="email-error" style="color: red;"></div>
                            </td>
                          </tr>

                          <tr id="birthday">
                            <th width="30%">Birthday</th>
                            <td> <span id="birthday-value">
                                <%= user.formattedBirthday %>
                              </span>
                              <input type="date" id="birthday-select"
                                value="<%= user.birthday.toISOString().substring(0, 10) %>" style="display:none;">
                            </td>
                          </tr>

                          <tr id="age">
                            <th width="30%">Age</th>
                            <td><span id="age-value">
                                <%= user.age %>
                              </span></td>
                          </tr>
                          <tr id="gender">
                            <th width="30%">Gender</th>
                            <td>
                              <span id="gender-value">
                                <%= user.sex %>
                              </span>
                              <select id="gender-select" style="display:none;">
                                <option value="male" <%=user.sex==='male' ? 'selected' : '' %>>Male</option>
                                <option value="female" <%=user.sex==='female' ? 'selected' : '' %>>Female</option>
                              </select>
                            </td>
                          <tr id="nationality">
                            <th width="30%">Nationality</th>
                            <td>
                              <span id="nationality-value">
                                <%= user.nationality %>
                              </span>
                              <select id="nationality-select" style="display:none;" name="country">
                                <% const countries=[ "Afghanistan" , "Albania" , "Algeria" , "Andorra" , "Angola"
                                  , "Antigua and Barbuda" , "Argentina" , "Armenia" , "Australia" , "Austria"
                                  , "Azerbaijan" , "Bahamas" , "Bahrain" , "Bangladesh" , "Barbados" , "Belarus"
                                  , "Belgium" , "Belize" , "Benin" , "Bhutan" , "Bolivia" , "Bosnia and Herzegovina"
                                  , "Botswana" , "Brazil" , "Brunei" , "Bulgaria" , "Burkina Faso" , "Burundi"
                                  , "Côte d'Ivoire" , "Cabo Verde" , "Cambodia" , "Cameroon" , "Canada"
                                  , "Central African Republic" , "Chad" , "Chile" , "China" , "Colombia" , "Comoros"
                                  , "Congo (Congo-Brazzaville)" , "Costa Rica" , "Croatia" , "Cuba" , "Cyprus"
                                  , "Czechia (Czech Republic)" , "Democratic Republic of the Congo" , "Denmark"
                                  , "Djibouti" , "Dominica" , "Dominican Republic" , "Ecuador" , "Egypt" , "El Salvador"
                                  , "Equatorial Guinea" , "Eritrea" , "Estonia" , "Eswatini (fmr. Swaziland)"
                                  , "Ethiopia" , "Fiji" , "Finland" , "France" , "Gabon" , "Gambia" , "Georgia"
                                  , "Germany" , "Ghana" , "Greece" , "Grenada" , "Guatemala" , "Guinea"
                                  , "Guinea-Bissau" , "Guyana" , "Haiti" , "Holy See" , "Honduras" , "Hungary"
                                  , "Iceland" , "India" , "Indonesia" , "Iran" , "Iraq" , "Ireland" , "Italy"
                                  , "Jamaica" , "Japan" , "Jordan" , "Kazakhstan" , "Kenya" , "Kiribati" , "Kuwait"
                                  , "Kyrgyzstan" , "Laos" , "Latvia" , "Lebanon" , "Lesotho" , "Liberia" , "Libya"
                                  , "Liechtenstein" , "Lithuania" , "Luxembourg" , "Madagascar" , "Malawi" , "Malaysia"
                                  , "Maldives" , "Mali" , "Malta" , "Marshall Islands" , "Mauritania" , "Mauritius"
                                  , "Mexico" , "Micronesia" , "Moldova" , "Monaco" , "Mongolia" , "Montenegro"
                                  , "Morocco" , "Mozambique" , "Myanmar (formerly Burma)" , "Namibia" , "Nauru"
                                  , "Nepal" , "Netherlands" , "New Zealand" , "Nicaragua" , "Niger" , "Nigeria"
                                  , "North Korea" , "North Macedonia" , "Norway" , "Oman" , "Pakistan" , "Palau"
                                  , "Palestine State" , "Panama" , "Papua New Guinea" , "Paraguay" , "Peru"
                                  , "Philippines" , "Poland" , "Portugal" , "Qatar" , "Romania" , "Russia" , "Rwanda"
                                  , "Saint Kitts and Nevis" , "Saint Lucia" , "Saint Vincent and the Grenadines"
                                  , "Samoa" , "San Marino" , "Sao Tome and Principe" , "Saudi Arabia" , "Senegal"
                                  , "Serbia" , "Seychelles" , "Sierra Leone" , "Singapore" , "Slovakia" , "Slovenia"
                                  , "Solomon Islands" , "Somalia" , "South Africa" , "South Korea" , "South Sudan"
                                  , "Spain" , "Sri Lanka" , "Sudan" , "Suriname" , "Sweden" , "Switzerland" , "Syria"
                                  , "Tajikistan" , "Tanzania" , "Thailand" , "Timor-Leste" , "Togo" , "Tonga"
                                  , "Trinidad and Tobago" , "Tunisia" , "Turkey" , "Turkmenistan" , "Tuvalu" , "Uganda"
                                  , "Ukraine" , "United Arab Emirates" , "United Kingdom" , "United States of America"
                                  , "Uruguay" , "Uzbekistan" , "Vanuatu" , "Venezuela" , "Vietnam" , "Yemen" , "Zambia"
                                  , "Zimbabwe" ]; %>

                                  <% countries.forEach(country=> { %>
                                    <option value="<%= country %>" <%=user.nationality===country ? 'selected' : '' %>>
                                      <%= country %>
                                    </option>
                                    <% }); %>
                              </select>

                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    
                       
                  </div>
                </div>
                <div style="height: 1em"></div>
                <div class="buttons">
                  <button onclick="editProfile()" type="button" class="btn">Edit Profile</button>
                  <button id="btnSave" onclick="saveProfile()" type="button" class="btn" disabled >Save Changes</button>
                  <button id="btnChangePassword" type="button" class="btn btn-warning">Change Password</button>
                  <button id="btnDelete" onclick="deleteProfile()" type="button" class="btn btn-danger">Delete
                    Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>
  </section>

  </div>

</body>

</html>